@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

$base-color: rgb(122, 122, 122);
$dropdown-color: rgb(43, 43, 43);

body {
  background-color: $base-color;
  color: rgb(73, 73, 73);
  text-align: center;
}

#tabContainer {
  margin-top: 1em;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

.navbar {
  padding-bottom: -2em;
  font-size: 1.25em;
}

#navLogo img {
  max-width: 8em;
  position: relative;
  margin-top: -1em;
  margin-bottom: -2em;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  justify-content: center;
}

.term-card {
  flex-basis: 22.5%;
  margin: .7em;
  background-image: linear-gradient(transparent, rgba(27, 27, 27, 0.5));
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.term-form {
  margin: 5em;
  border: 1px solid rgb(96, 96, 97);
  border-radius: 5px;
  padding: 1em 2em 1em 2em;
  box-shadow: 2px 2px 6px rgb(65, 64, 64);
  color: white;
  text-align: left;
  background-image: linear-gradient(transparent, rgba(27, 27, 27, 0.5));
  text-shadow: 1px 1px 2px black;
}

.required {
  color: red;
}

#google-auth {
  border: none;
  min-width: 100%;
  padding: 0;
  min-height: 100%;
}

#logButton {
  align-self: right;
  color: #9b9d9e;
}

#logButton img {
  width: 90%;
}

#logButton a:link {
  color: #9b9d9e;
}

#logButton a:hover {
  color: #c6c8c9;
}

#logButton a:visited {
  color: #9b9d9e;

}

#formCheck {
  justify-self: center;
  text-align: left;
}

#titleContainer {
  display: flex;
  justify-content: flex-end;
}

#sortContainer {
  display: flex;
  margin-left: .5em;
  font-weight: 500;
  color: black;
}

#dropdownContainer {
  display: flex;
  margin-left: .5em;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.sort-dropdown {
  width: 100%;
  color: white;
  margin-left: .5em;
  background-color: $dropdown-color;
}

.filter-dropdown {
  width: 100%;
  color: white;
  margin-left: .5em;
  background-color: $dropdown-color;
}

.dropdown-label {
  font-weight: 500;
  margin-left: .5em;
  margin-right: -.5em;
  line-height: 2em;
  color: rgba(0, 0, 0, 0.705);
}

.flip-card {
  background-color: transparent;
  width: 700px;
  height: 400px;
  perspective: 1100px;
  font-family: 'Caveat';
  font-weight: 700;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid white;
  background-image: url("https://1001freedownloads.s3.amazonaws.com/vector/thumb/109019/index_card.png");
  padding: .5em;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: black;
  transform: rotateY(180deg);
}

#flashContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash-title {
  margin-top: -.1em;
  font-size: 3.5em;
  font-weight: bold;
}

.flash-definition {
  margin-top: 2.75em;
  font-size: 1.7em;
}

.flash-tech {
  margin-top: 1.6em;
  font-size: 2em;
}

#new-card-btn {
  margin-top: 1em
}

#flashDirections {
  margin: -1.5em 0 1em 0;
  color: black;
  font-style: italic;
}

@media only screen and (max-width:991px) {
  .term-card {
    flex-basis: 46%;
  }

  .flip-card:active .flip-card-inner {
    transform: none;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  #flashDirections {
    display: none;
  }

  .flip-card {
    margin-top: 3em;
  }

  #logButton img {
    width: 25%;
    margin-bottom: .5em;
  }

  .dropdown-menu {
    position: relative;
    text-align: center;
    margin-bottom: .5em;
  }

  }

@media only screen and (max-width:720px) {
  .flip-card {
    width: 95%;
  }
  .term-card {
    flex-basis: 100%;
  }
}

@media only screen and (max-height:640px) {
  .flip-card {
    margin-top: -.5em;
  }
}